extends ../layouts/base

block content
  .container
    .row.clearfix(style="margin-top: 40px;")
      .col-sm-12.col-md-8.col-md-offset-2
        h1 This is a forum thread
        p Donec sed odio dui. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        p Aenean lacinia bibendum nulla sed consectetur. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus.
        p Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper.
        hr(style="margin-top: 40px; margin-bottom: 40px;")
        h2.h4 Comments
        .media
          a.pull-left(href="#")
            img.media-object(src="http://placehold.it/40x40")
          .media-body
            h5.media-heading @username
            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        .media
          a.pull-left(href="#")
            img.media-object(src="http://placehold.it/40x40")
          .media-body
            h5.media-heading @username
            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        .media
          a.pull-left(href="#")
            img.media-object(src="http://placehold.it/40x40")
          .media-body
            h5.media-heading @username
            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
            .media
              a.pull-left(href="#")
                img.media-object(src="http://placehold.it/40x40")
              .media-body
                h5.media-heading @username
                p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
        .media
          a.pull-left(href="#")
            img.media-object(src="http://placehold.it/40x40")
          .media-body
            h5.media-heading @username
            p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
    .row.clearfix
      .col-sm-12.col-md-8.col-md-offset-2
        hr
        .btn-group
          a.btn.btn-default.btn-sm(href#="") Comment
          a.btn.btn-default.btn-sm(href="#") Bookmark
          a.btn.btn-default.btn-sm(href="#") Recommend
        hr
    .row.clearfix(style="margin-top: 20px; margin-bottom: 40px;")
      .col-sm-12.col-md-4.col-md-offset-2
        h2.h3 Preview of a forum thread
        p Donec sed odio dui. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      .col-sm-12.col-md-4
        h2.h3 Preview of a forum thread
        p Donec sed odio dui. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
