table.table.table-hover
  thead
    tr
      th #
      th First Name
      th Last Name
      th Username
  tbody
    each item in new Array(20)
      tr
        td 1
        td Mark
        td Otto
        td @mdo

